<header class="site-header">
    <div class="container header-content">
        <div class="logo">
            <a href="../no/">MinBigård</a>
        </div>

        <nav class="main-nav">
            <a href="../no/">Hjem</a>
            <a href="../no/tjenester.html">Tjenester</a>
            <a href="../no/kunder.html">Kunder</a>
            <a href="../no/om.html">Om oss</a>
            <a href="../no/kontakt.html">Kontakt</a>
        </nav>

        <div class="language-switch">
            <a href="../no/">NO</a>
        </div>
    </div>
</header>
